.DS_Store
v1/v1_assembly/T-J11W264477A.zip
v1/v1_assembly/T-R9W264477A-W264477ASR8-20sets-ESCv2_BOM (1) --Janice-2020.12.21.xls
v1/v1_assembly/T-J11W264477A/
v1_naked.zip
v1_RS-274-X_drill.zip
v1_RS-274-X.zip
v1/LEDeye2-B_Cu.gbl
v1/LEDeye2-B_Mask.gbs
v1/LEDeye2-B_Paste.gbp
v1/LEDeye2-B_SilkS.gbo
v1/LEDeye2-Edge_Cuts.gm1
v1/LEDeye2-F_Cu.gtl
v1/LEDeye2-F_Mask.gts
v1/LEDeye2-F_Paste.gtp
v1/LEDeye2-F_SilkS.gto
v1/LEDeye2-NPTH.drl
v1/LEDeye2-PTH.drl
v1/v1_assembly/BOM_CORRECTED.csv
LEDeye2.html
LEDeye2.kicad_pcb-bak
LEDeye2.sch-bak
v1/v1_assembly/BOM.xlsx
